@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Mulish:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Mulish', sans-serif;
    color: #000000;
}

/* headings */

h1, h2 {
    font-family: 'Josefin Sans', sans-serif;
    color: #000000;
}

/* logo and navigation bar */

#header-container {
    height: 5rem;
    width: 100%;
    background-color: #FFFFFF;
    position: fixed;
    
}

#logo {
    float: left;
    font-size: 3rem;
    margin-left: 2rem;
}

nav {
    float: right;
    margin-right: 2rem;
    font-size: 1rem;
    font-family: 'Josefin Sans', sans-serif;
}

#menu, #logo {
    line-height: 5rem;
}

#menu li {
    list-style-type: none;
    display: inline-block;
}

#menu a {
    text-decoration: none;
    padding: 0.5rem;
    color: inherit;
}

#menu a:hover {
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 5px;
}
    
/* hero image section all pages*/

#hero-image {
    height: 40rem;
    width: 100%;
    background: url('../images/woman-applying-cream.jpg') top / cover no-repeat;
    overflow: hidden;
}

#product-hero-image {
    height: 40rem;
    width: 100%;
    background: url('../images/brown-glass-cosmetics.jpg') center / cover no-repeat;
    overflow: hidden;
}

#best-practice-hero-image {
    height: 40rem;
    width: 100%;
    background: url('../images/woman-with-gloves.jpg') center / cover no-repeat;
    overflow: hidden;
}

#ingredients-index-hero-image {
    height: 40rem;
    width: 100%;
    background: url('../images/ingredients-on-table.jpg') center / cover no-repeat;
    overflow: hidden;
}

/* home page welcome section */

.home-page-section {
    height: 50rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-page-container {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#welcome-image {
    width: 100%;
    height: 35rem;
    background: url('../images/woman-with-eyes-closed.jpg') no-repeat center / cover;
    border-radius: 1rem;
}

#welcome-content {
    width: 100%;
    height: 20rem;
    background-color: #6D5141;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.9rem;
    border-radius: 1rem;
    color: #FFFFFF;
    margin-left: -5.6rem;
}

.content h2 {
    font-size: 2.5rem;
    font-weight: lighter;
    color: #FFFFFF;
}

.content p {
    margin: 1rem 0;
    line-height: 1.5rem;
}

/* home page diy skincare section */

#diy-skincare-content {
    width: 100%;
    height: 20rem;
    background-color: #6D5141;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.9rem;
    border-radius: 1rem;
    color: #FFFFFF;
    z-index: 0;
    margin-right: -5.6rem;
}

#diy-skincare-image {
    width: 100%;
    height: 35rem;
    background: url('../images/brown-glass-products.jpg') no-repeat center / cover;
    border-radius: 1rem;
    
}

/* home page resources section */

#resources {
    width: 100%;
    height: 25rem;
    display: flex;
    justify-content: center;
}

#resources div {
    width: 25%;
    margin: 1rem;
    text-align: center;
    padding: 10rem 0;
    border-radius: 1rem;
}

#products {
    background: url('../images/brown-glass-cosmetics.jpg') center / cover no-repeat;
    box-shadow: inset 0 0 0 62.5rem rgba(0,0,0,.2);
}

#ingredients {
    background: url('../images/ingredients-on-table.jpg')center / cover no-repeat;
    box-shadow: inset 0 0 0 62.5rem rgba(0,0,0,.2);
}

#practices {
    background: url('../images/woman-with-gloves.jpg') center / cover no-repeat;
    box-shadow: inset 0 0 0 62.5rem rgba(0,0,0,.2);
}

#resources h2 {
    color: #FFFFFF;
    font-size: 3rem;
}

.learn-more {
    text-decoration: none;
    color: #000000;
    background: #FFFFFF;
    font-size: 1rem;
    padding: 0.5rem;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
    width: 10rem;
}

#resources a:hover {
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 5px;
}

/* product type page introduction*/ 

.page-title {
    font-size: 3rem;
    text-align: center;
    letter-spacing: 2px;
    margin: 3rem 0 1rem;
}

.page-intro {
    font-size: 1.2rem;
    text-align: center;
    margin: 0 15rem;
}

.page-intro p {
    margin-bottom: 6px;
}

.page-intro ul li {
    text-align: center;
    list-style-type: none;
}

/* product type page content*/ 

.main-content-section {
    /* height: 50rem; */
    height: 30rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-content-container {
    /* width: 60%; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30rem;
}

#oil-image {
    width: 30%;
    height: 25rem;
    background: url('../images/oil-texture-shot.jpg') no-repeat center / cover;
    border-radius: 1rem;
}

#water-image {
    width: 30%;
    height: 25rem;
    background: url('../images/gel-texture-shot.jpg') no-repeat center / cover;
    border-radius: 1rem;
}

#emulsion-image {
    width: 30%;
    height: 25rem;
    background: url('../images/cream-texture-shot.jpg') no-repeat center / cover;
    border-radius: 1rem;
}
.main-content-text {
    width: 50%;
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.9rem;
    padding-left: 5rem;
    border-radius: 1rem;
    color: #000000;
}

.text h2 {
    font-size: 2.5rem;
    font-weight: lighter;
    color: #000000;
}

.text, p, ul {
    margin: 1rem 0;
    line-height: 1.5rem;
    font-size: 1.2rem;
}

.text ul{
    list-style-position: inside;
    padding-left: 1.5rem;
}

/* ingredients index page */

#plant-oil-image {
    width: 30%;
    height: 25rem;
    background: url('../images/oil.jpg') no-repeat center / cover;
    border-radius: 1rem;
}

#butters-image {
    width: 30%;
    height: 25rem;
    background: url('../images/body-butter.jpg') no-repeat center / cover;
    border-radius: 1rem;
}

#waxes-image {
    width: 30%;
    height: 25rem;
    background: url('../images/wax.jpg') no-repeat center / cover;
    border-radius: 1rem;
}

/* best practice page */

#essential-oil-image {
    width: 30%;
    height: 25rem;
    background: url('../images/essential-oil.jpeg') no-repeat center / cover;
    border-radius: 1rem;
}

#packaging-image {
    width: 30%;
    height: 25rem;
    background: url('../images/brown-glass-bottles.jpg') no-repeat center / cover;
    border-radius: 1rem;
}

#product-quality-image {
    width: 30%;
    height: 25rem;
    background: url('../images/beauty-products-close-up.jpg') no-repeat center / cover;
    border-radius: 1rem;
}

/* signup form */

.form-section {
    background-color: #6D5141;
    height: 13rem;
    margin: 4rem 0 0;
}

.signup-form {
    text-align: center;
    padding: 2.5rem 0 0;
}

.signup-form h2 {
    color: #FFFFFF;
    font-size: 2rem;
    margin-bottom: 6px;
    letter-spacing: 1.8px;
}

.signup-form p {
    color: #FFFFFF;
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
}

.text-input {
    width: 18rem;
    height: 2rem;
    border: 1px solid #6D5141;
    border-radius: 6px;
    padding: 0 0 0 1rem;
}

.join-button {
    width: 7rem;
    height: 2rem;
    border-radius: 6px;
    background-color: #141611;
    color: #FFFFFF;
}

.join-button:hover {
    background-color: #9C7F6D;
}

/* footer */

.socials {
    text-align: center;
}

.socials > li {
    display: inline;
}

.socials i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #000000;
}

.socials i:hover {
    color: #6D5141;
}

/* media querys*/

/* small screen sizes min 320px home page */

@media screen and (min-width: 320px) {
    #header-container {
        height: 13rem;
    }

    #logo {
        float: none;
        margin-left: 0;
        text-align: center;
    }

    nav {
        float: none;
        margin-right: 0;
    }

    #menu li {
        display: grid;
        text-align: center;
        line-height: 1rem;
        font-size: 1rem;
    }

    #menu {
        margin: 0;
    }

    #hero-image {
        background-position: top right;
    }

    .home-page-section {
        display: block;
        height: auto;
    }

    .home-page-container {
        display: block;
        width: 100%;
        margin-top: 2rem;
    }
    
    #welcome-image {
        height: 30rem;
        margin: 2rem 0 0;
    }

    #welcome-content {
        height: auto;
        display: block;
        padding: 1rem;
        margin-left: 0;
    }

    .content h2 {
        font-size: 2.2rem;
    }

    .content p {
        margin: 1rem 0 0;
        font-size: 1.2rem;
    }

    #diy-skincare-content {
        height: auto;
        display: block;
        padding: 1rem;
        border-radius: 1rem;
        z-index: 0;
        margin-right: 0;
    }

    #diy-skincare-image {
        height: 30rem;        
    }

    #resources {
        height: 28rem;
        display: block;
        margin-top: 3rem;
    }

    #resources div {
        width: 100%;
        margin: auto;
        padding: 2rem 0;
        margin-bottom: 1rem;
    }

    #resources h2 {
        font-size: 2.5rem;
    }

    .signup-form {
        padding: 0.8rem 0 0;
    }
}