@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Mulish:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Mulish', sans-serif;
    color: black;
}

/* headings and logo*/
h1, h2 {
    font-family: 'Josefin Sans', sans-serif;
    color: black;
}

#logo {
    float: left;
    font-size: 3rem;
    margin-left: 2rem;
}

/* navigation */

#menu {
    font-size: 1rem;
    font-family: 'Josefin Sans', sans-serif;
}

#menu, #logo {
    line-height: 80px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 2rem;
}

#menu a {
    text-decoration: none;
    color: inherit;
    padding: 10px;
    
}

#menu a:hover {
    background-color: black;
    color: white;
    border-radius: 5px;
}

/* hero image */

#hero-image {
    height: 500px;
    width: 100%;
    background: url('../images/woman-applying-cream.jpg') center center / cover no-repeat fixed;
    overflow: hidden;
}

/* welcome */

#welcome {
    height: 30rem;
}

#welcome-image {
    padding-top: 80px;
    width: 50%;
    float: left;
}

#welcome-image > img {
    height: 20rem;
    padding-left: 25rem;
}

#welcome-text {
    padding-top: 9rem;
    width: 50%;
    float: right;
}

.homepage-text {
    width: 60%;
    line-height: 1.5rem;
    clear: both;
    font-size: 1.2rem;
}

.homepage-text > h2 {
    font-size: 2.5rem;
}

/* diy skincare */

diy skincare

#diy-skincare {
    height: 30rem;
}

#diy-skincare-text {
    width: 50%;
    float: left;
    padding-left: 25rem;
}

#diy-skincare-image {
    width: 50%;
    float: right;
    position: relative;
}

#diy-skincare-image img {
    height: 20rem;
    position: relative;
    left: 10rem;
}
