@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Mulish:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Mulish', sans-serif;
    color: black;
}

/* headings and logo*/
h1, h2 {
    font-family: 'Josefin Sans', sans-serif;
    color: black;
}

#logo {
    float: left;
    font-size: 3rem;
    margin-left: 2rem;
}

/* navigation */

#menu {
    font-size: 1rem;
    font-family: 'Josefin Sans', sans-serif;
}

#menu, #logo {
    line-height: 80px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 2rem;
}

#menu a {
    text-decoration: none;
    color: inherit;
    padding: 10px;
    
}

#menu a:hover {
    background-color: black;
    color: white;
    border-radius: 5px;
}

/* hero image */

#hero-image {
    height: 34rem;
    width: 100%;
    background: url('../images/woman-applying-cream.jpg') center center / cover no-repeat fixed;
    overflow: hidden;
}

/* welcome */

.home-page-section {
    height: 50rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-page-container {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* img {
    height: 25rem;
    border-radius: 8px; 
} */

#welcome-image {
    width: 50%;
    height: 35rem;
    background: url('../images/woman-with-eyes-closed.jpg') no-repeat center / cover;
    border-radius: 1rem;
}

#welcome-content {
    width: 50%;
    height: 20rem;
    background-color: #6D5141;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.9rem;
    border-radius: 1rem;
    color: white;
    margin-left: -90px;
}

.content h2 {
    font-size: 2.5rem;
    font-weight: lighter;
    color: white;
}

.content p {
    margin: 1rem 0;
    line-height: 1.5rem;
}

/* diy skincare */

#diy-skincare-content {
    width: 50%;
    height: 20rem;
    background-color: #6D5141;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.9rem;
    border-radius: 1rem;
    color: white;
}

#diy-skincare-image {
    width: 50%;
    height: 35rem;
    background: url('../images/brown-glass-products.jpg') no-repeat center / cover;
    border-radius: 1rem;
    
}